.temperature {
  width: 100%;
  
}

.temperatureForm {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.temperatureSubmitButton {
  width:100px;
  float: right;
  margin-top: 48px;
}

.temperatureMonth {

}